<html>
    <head>
        <title>test</title>
    </head>
    <body>
        <% if ("undefined" !== typeof login) { %>
        you are logined as <%= user %>. 
        <a href="/logout">logout</a>
        <% } else { %> 
        you are not logined
        <a href="/login">login</a>
        <% } %>
        <br/>
        sessionID : <%= id %>
    </body>
</html>